* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #7c969f;
}

header {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  a{
    color: #395f6e;
    
  }
  div{
    color: #d8c1a7;
  }
}

a {
  text-decoration: none;
  transition: .3s ease;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
