* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header a:hover{
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.664);
}

a {
  color: #f7ece0;
  text-decoration: none;
  transition: .3s ease;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
